---
title: "Publications"
layout: archive
author_profile: true
permalink: /publications/
---

{% capture written_year %}'None'{% endcapture %}
{% for publication in site.publications reversed %}
  {% capture year %}{{ publication.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="year{{ year | replace: ".", "-" }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
